/* Os atributos abaixo comentados foram substituidos por outro ou removidos durante a aula. */

/* div {
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    margin: 5px;
*/

div,
span {
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    margin: 5px;
}
